# ignore these files
*.user
*.suo
*.docstates
*.g.i.cs
*.g.cs
*.baml
*.tlog
*.lref
*.cache
obj/
Tests/bin/
TestResults/
*Re[sS]harper*.*
_Re[sS]harper*/
*Doc.xml
vendor/bundle/
build
ApiSetup/MingleApiSetup.msi
ApiSetup/setup.exe
ApiSetup/Debug/
ApiSetup/Release/
SetupMingleApi/SetupMingleApi
Help/Working
vendor/ironruby
package/

