# ignore these files
*.user
*.suo
*.docstates
*.g.i.cs
*.g.cs
*.baml
*.tlog
*.lref
*.cache
obj/
Tests/bin/
TestResults/
*Re[sS]harper*.*
_Re[sS]harper*/
*Doc.xml
vendor/ironruby
.bundle
build
SetupMingleApi/SetupMingleApi/